<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pomodoro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PomodoroWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TimerNotificationCenterWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF3F0EB21BDA22C800AB0DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF3F0ECB1BDA22C900AB0DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF3F0ED61BDA22C900AB0DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDB82C31C25AE40004D47CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDB82EC1C25C125004D47CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
